{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Checkout Successful</h1>
            <p>Thank you for your purchase!</p>
            <p>This transaction has the ID {{ transactionId }}.</p>
        </div>
    </div>
{% endblock %}
